<div class="footer-container">
    <div class="footer-child">
        <div class="footer-subchild one">
            <p><%= t '.footer_title' %></p>
        </div>
        <div class="footer-subchild two">
            <p><%= link_to t('.footer_link1'), terms_of_use_path, class: "external-link" %></p>
            <p> &nbsp;<%= link_to t('.footer_link2'), terms_of_use_vps_path, class: "external-link" %></p>
            <p> &nbsp;<%= link_to t('.footer_link3'), privacy_and_cookies_path, class: "external-link" %></p>
        </div>
        <div class="footer-subchild three">
            <p><%= t '.footer_desc' %></p>
        </div>
    </div>
</div>