<div class="menubar-container">
    <div class="menubar-child">
        <div class="menu-subchild one">
            <%= link_to root_path do %>
                <%= image_tag "algodla_white.png", class: "logo" %>
            <% end %>
        </div>
        <div class="menu-subchild two">
            <%= link_to t('.menu_link1'), root_path, class: "menu-link one" %>
            <%= link_to t('.menu_link2'), contact_path, class: "menu-link two" %>
            <ul class="navbar-nav ml-lg-auto navbar-list">
                <% I18n.available_locales.each_with_index do |locale, index| %>
                    <li class="nav-lang">
                    <% if I18n.locale == locale %>
                        <%= t(locale, scope: 'locales', class: 'selected-locale') %>
                    <% else %>
                        <%= link_to t(locale, scope: 'locales'), url_for(locale: locale), class: 'locale-link' %>
                    <% end %>
                    <% unless index == I18n.available_locales.size - 1 %>
                        |&nbsp; <!-- Add spaces and the separator "|" unless it's the last language -->
                    <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>