<% content_for :title, "ALGODLA | Automated Trading Robot" %>

<div class="section1-container">
    <div class="section1-child">
        <div class="section1-subchild one">
        <!-- backup
            <%= t '.section1_initial_desc' %>
        -->
        </div>
        <div class="section1-subchild two" id="ai">
            <%= t '.section1_title' %>
        </div>
        <div class="section1-subchild three">
        <!-- backup
            <%= link_to t('.section1_btn_result'), root_path, class: 'section1-btn' %>
            <%= link_to t('.section1_btn_free'), root_path, class: 'section1-btn' %>
        -->
        </div>
        <div class="section1-subchild four">
            <%= link_to t('.section1_link_works'), root_path, class: "works-path" %>
        </div>
    </div>
    <div class="down-arrow">
        <a href="#section2-container">
            <i class="fas fa-chevron-down bounce"></i>
        </a>
    </div>
</div>

<div class="section2-container" id="section2-js">
    <div class="section2-child">
        <div class="section2-subchild one">
            <div class="sub-one">
                <%= t '.section2_title1' %>
                <br>
                <%= t '.section2_title2' %>
            </div>
        </div>
        <div class="section2-subchild two">
            <div class="section2-innerchild one">
                <div class="inner left">
                    <div class="left-image top">
                        <div class="icon">
                            <%= image_tag "ai.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p><%= t '.section2_ai' %></p>
                        </div>
                        <div class="desc">
                            <p><%= t '.section2_ai_desc' %></p>
                        </div>
                    </div>
                    <div class="left-image bottom">
                        <div class="icon">
                            <%= image_tag "save-money.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p><%= t '.section2_money' %></p>
                        </div>
                        <div class="desc">
                            <p><%= t '.section2_money_desc1' %>
                            <br>
                            <span class="no-payment"><%= t '.section2_money_desc2' %></span></p>
                        </div>
                    </div>
                </div>
                <div class="inner right">
                    <div class="right-image top">
                        <div class="icon">
                            <%= image_tag "shield.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p><%= t '.section2_shield' %></p>
                        </div>
                        <div class="desc">
                            <p><%= t '.section2_shield_desc' %></p>
                        </div>
                    </div>
                    <div class="right-image bottom">
                        <div class="icon">
                            <%= image_tag "automated.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p><%= t '.section2_automated' %></p>
                        </div>
                        <div class="desc">
                            <p><%= t '.section2_automated_desc' %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section2-innerchild two">
                <div class="grandchild one">
                    <%= image_tag "robot.png", class: "algodla-bot" %>
                </div>
                <div class="free-btn">
                <!-- backup
                    <%= link_to t('.section2_btn_free'), root_path, class: 'section2-btn' %>
                    -->
                </div>
                <div class="result">
                    <p><%= t '.section2_result' %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class= "section3-container" id="section3-js">
    <div class="section3-child">
        <div class="section3-subchild">
            <div class="section3-title">
                <p><%= t '.section3_title' %></p>
            </div>
            <div class="subtitle">
                <p><%= t '.section3_subtitle' %></p>
            </div>
            <div class="section3-desc">
                <p><%= t '.section3_desc' %></p>
            </div>
            <div class="section3-pic">
                <%= image_tag "graph-works.png", class: "works-bot" %>
            </div>
            <div class="subtitle-two">
                <p><%= t '.section3_subtitle2' %></p>
            </div>
            <div class="button">
        <!-- backup
            <%= link_to t('.section3_btn_learn'), root_path, class: 'section3-btn' %>
            <%= link_to t('.section3_btn_free'), root_path, class: 'section3-btn' %>
        -->
            </div>
        </div>
    </div>
</div>

<div class="section4-container">
    <div class="section4-child">
        <div class="section4-subchild one">
            <p><%= t '.section4_title' %></p>
        </div>
        <div class="section4-subchild two">
            <p><%= t '.section4_subtitle' %></p>
        </div>
        <div class="section4-subchild three">
            <div class="innerchild one">
                <div class="section4-image">
                    <%= image_tag "gift.png" %>
                </div>
                <div class="section4-title">
                    <p><%= t '.section4_gift_title' %></p>
                </div>
                <div class="section4-desc">
                    <p><%= t '.section4_gift_desc' %></p>
                </div>
            </div>
            <div class="innerchild two">
                <div class="section4-image">
                    <%= image_tag "setting.png" %>
                </div>
                <div class="section4-title">
                    <p><%= t '.section4_setting_title' %></p>
                </div>
                <div class="section4-desc">
                    <p><%= t '.section4_setting_desc' %></p>
                </div>
            </div>
            <div class="innerchild three">
                <div class="section4-image">
                    <%= image_tag "hand.png" %>
                </div>
                <div class="section4-title">
                    <p><%= t '.section4_hand_title' %></p>
                </div>
                <div class="section4-desc">
                    <p><%= t '.section4_hand_desc' %></p>
                </div>
            </div>
            <div class="innerchild four">
                <div class="section4-image">
                    <%= image_tag "shield2.png" %>
                </div>
                <div class="section4-title">
                    <p><%= t '.section4_shield_title' %></p>
                </div>
                <div class="section4-desc">
                    <p><%= t '.section4_shield_desc' %></p>
                </div>
            </div>
        </div>
        <div class="section4-subchild four">
            <%= link_to t('.section4_btn_try'), root_path, class: 'section4-btn' %>
        </div>
    </div>
</div>

<div class="section5-container">
    <div class="section5-child">
        <div class="section5-subchild one"> 
            <p><%= t '.section5_title' %></p>
        </div>
        <div class="section5-subchild two">
            <p><%= t '.section5_desc' %></p>
        </div>
        <div class="section5-subchild three">
            <div class="section5-innerchild one">
                <div class="section5-image">
                    <%= image_tag "beginner.png", class:'section5-img' %>
                </div>
                <div class="section5-title">
                    <p><%= t '.section5_beginner' %></p>
                </div>
                <div class="section5-desc">
                    <p><%= t '.section5_beginner_desc' %></p>
                </div>
            </div>
            <div class="section5-innerchild two">
                <div class="section5-image">
                    <%= image_tag "expert.png", class:'section5-img' %>
                </div>
                <div class="section5-title">
                    <p><%= t '.section5_expert' %></p>
                </div>
                <div class="section5-desc">
                    <p><%= t '.section5_expert_desc' %></p>
                </div>
            </div>
            <div class="section5-innerchild three">
                <div class="section5-image">
                    <%= image_tag "portfolio-manager.png", class:'section5-img' %>
                </div>
                <div class="section5-title">
                    <p><%= t '.section5_manager' %></p>
                </div>
                <div class="section5-desc">
                    <p><%= t '.section5_manager_desc' %></p>
                </div>
            </div>
        </div>
    </div>
</div>