<% content_for :title, "ALGODLA | Automated Trading Robot" %>

<div class="section1-container">
    <div class="section1-child">
        <div class="section1-subchild one">
        <!-- backup
            <p>3.9% MONTHLY PROFITS</p>
        -->
        </div>
        <div class="section1-subchild two" id="ai">
            <p>AI Auto-Trading Robot</p>
        </div>
        <div class="section1-subchild three">
        <!-- backup
            <%= link_to 'SEE RESULTS', root_path, class: 'section1-btn' %>
            <%= link_to 'TRY FOR FREE', root_path, class: 'section1-btn' %>
        -->
        </div>
        <div class="section1-subchild four">
            <%= link_to "How It Works?", root_path, class: "works-path" %>
        </div>
    </div>
    <div class="down-arrow">
        <a href="#section2-container">
            <i class="fas fa-chevron-down bounce"></i>
        </a>
    </div>
</div>

<div class="section2-container" id="section2-js">
    <div class="section2-child">
        <div class="section2-subchild one">
            <div class="sub-one">
                Algorithmic trading with
                <br>
                artificial intelligence (AI)
            </div>
        </div>
        <div class="section2-subchild two">
            <div class="section2-innerchild one">
                <div class="inner left">
                    <div class="left-image top">
                        <div class="icon">
                            <%= image_tag "ai.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p>What is ALGODLABot</p>
                        </div>
                        <div class="desc">
                            <p>A software robot that trades for you. CarinaBot analyses markets and automatically trades on your account.</p>
                        </div>
                    </div>
                    <div class="left-image bottom">
                        <div class="icon">
                            <%= image_tag "save-money.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p>Pay only when you profit</p>
                        </div>
                        <div class="desc">
                            <p>First 3 months for free. You will see how it works and whether you like it.
                            <br>
                            <span class="no-payment"> NO PAYMENTS IN ADVANCE</span></p>
                        </div>
                    </div>
                </div>
                <div class="inner right">
                    <div class="right-image top">
                        <div class="icon">
                            <%= image_tag "shield.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p>No access to your money</p>
                        </div>
                        <div class="desc">
                            <p>We are not an investment firm, and we don't ask for your money. You have your money on your own account.</p>
                        </div>
                    </div>
                    <div class="right-image bottom">
                        <div class="icon">
                            <%= image_tag "automated.png", class: "icon-enlarge" %>
                        </div>
                        <div class="title">
                            <p>Easy and automated</p>
                        </div>
                        <div class="desc">
                            <p>ALGODLABot is suitable for beginners too. Connect it to your account, and it will automatically trade for you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section2-innerchild two">
                <div class="grandchild one">
                    <%= image_tag "robot.png", class: "algodla-bot" %>
                </div>
                <div class="free-btn">
                <!-- backup
                    <%= link_to 'FIRST 3 MONTHS FOR FREE', root_path, class: 'section2-btn' %>
                    -->
                </div>
                <div class="result">
                    <p>Results speak for themselves</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class= "section3-container" id="section3-js">
    <div class="section3-child">
        <div class="section3-subchild">
            <div class="section3-title">
                <p>How It Works?</p>
            </div>
            <div class="subtitle">
                <p>Automated AI-Trading Robot</p>
            </div>
            <div class="section3-desc">
                <p>Using artificial intelligence and triangular-modelling algorithms, CarinaBot predicts future EUR/USD price moves for period of several minutes. When a good opportunity occurs, CarinaBot trades it automatically and earns a profit on your account.</p>
            </div>
            <div class="section3-pic">
                <%= image_tag "graph-works.png", class: "works-bot" %>
            </div>
            <div class="subtitle-two">
                <p>* ALGODLABot can't make a withdrawal</p>
            </div>
            <div class="button">
        <%# <!-- backup %>
            <%= link_to 'LEARN MORE', root_path, class: 'section3-btn' %>
            <%= link_to 'TRY 3 MONTHS FREE', root_path, class: 'section3-btn' %>
        <%# --> %>
            </div>
        </div>
    </div>
</div>