<% content_for :title, "Privacy and Cookies | ALGODLA" %>

<div class="prico-container">
    <div class="prico-child">
        <div class="prico-subchild one">
            <div class="prico-innerchild one">
                <p>Privacy and Cookies</p>
            </div>
            <div class="vps-innerchild two">
                <p>By using any of our services or products you agree with this document in its full content. Stop using all of our services and products 
                    in case, if you do not agree with this document in its full content and/or with any part(s) of this document.</p>
            </div>
        </div>
        <div class="vps-subchild two">
        </div>
    </div>
</div>

<div class="p-item">
    <div class="p-child">
        <div class="p-text" id="p-id">
            <p>We collect personal, behavioral, and other types of data that you consent to share with us before using all our web-properties, 
                including their language versions and subdomains. In this case you will be informed about this and asked for prior consent.</p>
        </div>
        <div class="p-text">
            <p>Any information about your activities collected by us is used only for business purposes and intended to increase the quality of service, 
                timely provide you with information about new services and products.</p>
        </div>
        <div class="p-all-title">
            What kind of data do we collect?
        </div>
        <div class="p-text">
            <p>We may collect, store, and use the following personal data, which includes but not limited to:</p>
        </div>
        <div class="p-text">
            <p>Identity and contact data: your name, address, phone number, e-mail address or any other identifier when you purchase our robot.
            <br>
            Technical usage data: your IP address and location, browser type and version, device type and model, operating system and any other data 
            related to the characteristics of the device you're using to access and use our websites.
            <br>
            Behavioral data: all the data related to your behavior on our websites - clicks on links, downloads, scrolls, etc.
            <br>
            Marketing data: consents to receive marketing and advertising materials from us as well as the type of communication channel and the 
            language of the message.</p>
        </div>
        <div class="p-all-title">
            Cookies policy
        </div>
        <div class="p-text">
            <p>Cookies are files containing the information that websites use to register traffic. This information from the website server is 
                temporarily saved on the hard disk of your computer or mobile device when you visit the website for the first time and, subsequently, 
                allows the website to recognize your browser.</p>
        </div>
        <div class="p-text">
            <p>We use cookies to define what services are the most interesting ones for you and measure visitors’ activity on this websites. 
                Using cookies, we also identify the most requested advertisements and estimate the popularity of 
                resources related to the marketing purposes.</p>
        </div>
        <div class="p-all-title">
            What types of cookies do we use?
        </div>
        <div class="p-text">
            <p>Session cookies: this type of cookies is used only during your session on our website (when you use our website) and is stored only 
                until you close your browser.</p>
        </div>
        <div class="p-text">
            <p>Analytical cookies: this type of cookies collects the behavioral information on how you use our website and transfers it to our 
                analytical software where it can be stored up to 6 months. The information stored doesn't contain your name, e-mail address or any 
                other personal information, thus is anonymous. We use it to track users' activity on our web pages, which allows us to provide the 
                seamless user experience and keep track of potential inaccuracies.</p>
        </div>
        <div class="p-text">
            <p>Promotional cookies: this type of cookies is used to provide the relevant advertising to any of our website’s visitors at the moment when 
                they are not using one of our products or services. They may include third-party cookies of one or more of our advertising partners.</p>
        </div>
        <div class="p-text">
            <p>Preferences and functionality cookies: this type of cookies determines the choices you make while using our website, whether it is the 
                website language or the closing of a pop-up window.</p>
        </div>
        <div class="p-all-title">
            How to manage cookies preferences
        </div>
        <div class="p-text">
            <p>You can delete the cookies placed on your computer when visiting our websites using your browser settings. The instruction of 
                managing cookies in the most popular browsers can be found below:</p>
        </div>
        <div class="p-text" id="www-id">
            <p>Google Chrome - <%= link_to "https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en", "https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en", target: "_blank", class: "www-link" %><br>
               Microsoft Edge - <%= link_to "https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy", "https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy", target: "_blank", class: "www-link" %><br>
               Mozila Firefox - <%= link_to "https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences", "https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences", target: "_blank", class: "www-link" %><br>
               Microsoft Internet Explorer - <%= link_to "https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies", "https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies", target: "_blank", class: "www-link" %><br>
               Opera - <%= link_to "https://www.opera.com/help/tutorials/security/privacy/", "https://www.opera.com/help/tutorials/security/privacy/", target: "_blank", class: "www-link" %><br>
               Apple Safari - <%= link_to "https://support.apple.com/guide/safari/sfri11471/mac", "https://support.apple.com/guide/safari/sfri11471/mac", target: "_blank", class: "www-link" %><br></p>
        </div>
        <div class="p-text">
            <p>Make sure that you fully acknowledge that deleting cookies may affect the functionality you use on our and other websites.</p>
        </div>
        <div class="p-all-title">
            What do we collect and process your personal data for?
        </div>
        <div class="p-text">
            <p>The main reasons and purposes of collecting personal data in accordance with the legislation are described below:</p>
        </div>
        <div class="p-text">
            <p>Data analysis: we use various tools to gather behavioral and quantitative data about the users of our websites and subscribers to our emails in order to provide them with ultimate user experience and relevant content.<br>
               Marketing purposes: if you consent to receive our marketing communication materials, we will use the personal data you've provided to send you information about our products, services, and upcoming events.<br>
               Complaints' enquiries: to perform an enquiry concerning your complaints, we may use the data you've provided earlier.</p>
        </div>
        <div class="p-all-title">
            Who may we disclose your personal data to?
        </div>
        <div class="p-text">
            <p>We reserve the right to disclose personal data in the required volume and in the above purposes to:</p>
        </div>
        <div class="p-text">
            <p>Third-party marketing and advertising providers;
               Third-party services providers;
               Affiliates and affiliated companies;
               Governing bodies;
               Auditors and contractors;
               Anyone, authorized by you.</p>
        </div>
        <div class="p-text">
            <p>Please, be advised that your personal data can never be disclosed to any of third parties unknown to us and with which we do not have an 
                appropriate agreement. In any case, you will be informed about this and should give prior consent for these activities in accordance 
                with the GDPR.</p>
        </div>
        <div class="p-all-title">
            Transferring the data outside the EEA
        </div>
        <div class="p-text">
            <p>We do not transfer your data from EU/EEA outside the EEA.</p>
        </div>
        <div class="p-all-title">
            The rights of the users from EU/EEA regarding their personal data
        </div>
        <div class="p-text">
            <p>According to the Law, you have the following rights regarding your personal data we store and process:</p>
        </div>
        <div class="p-text">
            <p>1. The right to be informed about the fact that we're processing your personal data and which data exactly we are processing.<br>
               2. The right of access to your personal data.<br>
               3. The right to rectify your personal data in case it is not accurate or not up-to-date.<br>
               4. The right to erase your personal data from our servers upon your justified request.<br>
               5. The right to restrict processing of your personal data (which does not imply its storage).<br>
               6. The right to data portability. In certain circumstances, you have the right to obtain all your personal data we store in a machine readable format.<br>
               7. The right to object the processing of your personal data.<br>
               8. The right not to be subject to automated decision-making including profiling if it doesn't intervene in performing the contract between you and us.</p>
        </div>
        <div class="p-text">
            <p>In respect of your rights, we inform you that you are able to exercise the above-mentioned rights if this does not contradict any 
                legal requirements or laws.</p>
        </div>
    </div>
</div>
