<% content_for :title, "Terms Of Use VPS | ALGODLA" %>

<div class="vps-container">
    <div class="vps-child">
        <div class="vps-subchild one">
            <div class="vps-innerchild one">
                <p>Terms of Use VPS</p>
            </div>
            <div class="vps-innerchild two">
                <p>By using any of our services or products you agree with this document in its full content. Stop using all of our services 
                    and products immediately, if you do not agree with this document in its full content and/or with any part(s) of it.</p>
            </div>
        </div>
        <div class="vps-subchild two">
        </div>
    </div>
</div>

<div class="vps-item">
    <div class="v-child">
        <div class="v-first-title">
            TERMS OF USE - VPS
        </div>
        <div class="v-text">
            <p>These Terms of Use (the "Agreement") govern your use of the "ALGODLA VPS" service. Please read these Terms of Use carefully. 
                By using our Service, you are agreeing to these Terms of Use.</p>
        </div>
        <div class="v-all-title">
            1. agreement to terms
        </div>
        <div class="v-text">
            <p>By accessing the "ALGODLA VPS" Service (which is available at <%= link_to "https://algodla.com", root_path, class: "vps-link" %>), 
            you agree to be bound by these Terms of Use, all applicable laws and regulations, and agree that you are responsible for compliance 
            with any applicable local laws.</p>
        </div>
        <div class="v-all-title">
            2. service description
        </div>
        <div class="v-text">
            <p>"ALGODLA VPS" is a software-based Virtual Private Server (VPS) hosting service. No physical hardware is created or dedicated to your 
                VPS instance. Our Service allows you to create your own VPS instance that hosts and runs the “ALGODLA App”. The VPS instances are 
                hosted on the cloud, and each instance hosts one installation of the “ALGODLA App”. The VPS instances are not designed to host any 
                other software or applications. ALGODLA VPS hosts and operates an instance of the "ALGODLA App," an automated trading software. 
                When you use ALGODLA VPS, you acknowledge and agree that you are also using the "ALGODLA App," which is subject to the Terms of Use 
                found at <%= link_to "https://algodla.com/terms-of-use/", terms_of_use_path, class: "vps-link" %>. Therefore, you are required to review 
                and consent to the Terms of Use governing the "ALGODLA App" as well.</p>
        </div>
        <div class="v-all-title">
            3. access to the service
        </div>
        <div class="v-text">
            <p>You can access your VPS instance and user profile by logging into <%= link_to "https://algodla.com", root_path, class: "vps-link" %> 
            with your registered email address.</p>
        </div>
        <div class="v-all-title">
            4. usage of the service
        </div>
        <div class="v-text">
            <p>In your VPS instance, you can operate the “ALGODLA App” as described in the "ALGODLA App" Terms of Use 
                at <%= link_to "https://algodla.com/terms-of-use/", terms_of_use_path, class: "vps-link" %> 
                (hereinafter the "ALGODLA App ToU"). You can change API-Key and Secret, 
                pause/unpause the app, check the outputs, add funds to the trading account connected to the "ALGODLA App", change the 
                selection of a trading account (connect the "ALGODLA App" to another trading account), and pay the necessary fees. The VPS 
                instance will keep running even when you log out from the "ALGODLA VPS" service unless you deactivate your VPS instance.</p>
        </div>
        <div class="v-all-title">
            5. liability
        </div>
        <div class="v-text">
            <p>The "ALGODLA VPS" service is a hosting service, and not a financial service or operator of the ALGODLA App”. Any use of the 
                “ALGODLA App” through the "ALGODLA VPS" service is equivalent to using it locally or through another VPS provider. The “ALGODLA VPS” 
                service is not responsible for the operation of the “ALGODLA App”.</p>
        </div>
        <div class="v-all-title">
            6. service guarantee
        </div>
        <div class="v-text">
            <p>We do not guarantee an uninterrupted work of the service.</p>
        </div>
        <div class="v-all-title">
            7. intellectual property
        </div>
        <div class="v-text">
            <p>All intellectual property rights in the Service and its content (excluding content provided by users) are owned by us. These rights 
                include, without limitation, copyrights, trademarks, trade names, patents, trade secrets, and other proprietary 
                rights throughout the world.</p>
        </div>
        <div class="v-all-title">
            8. privacy
        </div>
        <div class="v-text">
            <p>Your use of our Service is also subject to our 
                <%= link_to "Privacy & Cookies Policy", privacy_and_cookies_path, class: "vps-link" %>, which explains how we collect, 
                use, and protect the personal information you provide to us.</p>
        </div>
        <div class="v-all-title">
            9. changes to these terms
        </div>
        <div class="v-text">
            <p>We reserve the right, at our sole discretion, to amend these Terms of Use at any time. By continuing to access or use our Service after 
                those revisions become effective, you agree to be bound by the revised terms.</p>
        </div>
        <div class="v-all-title">
            10. disclaimer
        </div>
        <div class="v-text">
            <p>Our Service is provided on an 'as is' basis. We make no warranties, expressed or implied, and hereby disclaim all warranties including, 
                without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement 
                of intellectual property or other violation of rights.</p>
        </div>
        <div class="v-text">
            <p>The "ALGODLA VPS" service and the “ALGODLA App” are provided "AS IS", without warranty of any kind, express or implied, including but 
                not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event shall the providers 
                or operators of "ALGODLA VPS" service or the providers of “ALGODLA App” be liable for any claim, damages, or other liabilities, whether 
                in an action of contract, tort, or otherwise, arising from, out of or in connection with the "ALGODLA VPS" service or the “ALGODLA App” 
                software or the use or other dealings in the "ALGODLA VPS" service or the “ALGODLA App” software.</p>
        </div>
        <div class="v-text">
            <p>The "ALGODLA VPS" service or the “ALGODLA App” software do not give any express or implied warranties or guarantees of any kind 
                including, without limitation, warranties of title or implied warranties of merchantability or fitness for a particular purpose. 
                No oral or written information or advice given by the "ALGODLA VPS" service, the “ALGODLA App” software, its providers, agents, 
                officers or employees shall create a warranty or in any way increase the scope of this warranty. The "ALGODLA VPS" service and 
                the “ALGODLA App” software are not responsible for any direct, indirect, incidental, special, consequential or exemplary damages, 
                including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses 
                (even if the "ALGODLA VPS" service or the “ALGODLA App” software have been advised of the possibility of such damages), 
                resulting from:
                <br><br>
                (i) the use or the inability to use the service and/or the software;<br>
                (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained 
                or messages received or transactions entered into through or from the service and/or from the software;<br>
                (iii) unauthorized access to or alteration of your transmissions or data;<br>
                (iv) statements or conduct of any third party on the service; or<br>
                (v) any other matter relating to the service.</p>
        </div>
        <div class="v-text">
            <p>Please acknowledge and accept these warnings and disclaimers before proceeding with any trading activity through the "ALGODLA VPS" 
                service or the “ALGODLA App” software.</p>
        </div>
        <div class="v-all-title">
            11. risk warning
        </div>
        <div class="v-text">
            <p>Trading in financial markets and/or trading with "ALGODLA App" software involves substantial risks, including complete possible loss of 
                principal plus other losses and is not suitable for all members of the public. Trading may not be suitable for all users. 
                You acknowledge that you understand these risks and that you are solely responsible for the outcomes of your decisions. 
                You should carefully consider whether trading and/or usage of "ALGODLA VPS" and/or usage of "ALGODLA App" is suitable for you 
                in light of your circumstances, knowledge, and financial resources. You may lose all or more of your initial investment. The past 
                performance does not guarantee future results or returns.</p>
        </div>
        <div class="v-all-title">
            12. indemnification
        </div>
        <div class="v-text">
            <p>You agree to defend, indemnify, and hold harmless us, our employees, contractors, agents, officers, and directors from all liabilities, 
                claims, and expenses (including attorney's fees) that arise out of or are related to any breach of these terms by you or related to 
                your use of the Service.
                <br><br>
                You agree to defend, indemnify, and hold harmless us, our employees, contractors, agents, officers, and directors from all liabilities, 
                claims, and expenses (including attorney's fees) that arise out of or are related to use of the "ALGODLA VPS" Service and/or use of 
                the "ALGODLA App" software.</p>
        </div>
        <div class="v-all-title">
            13. termination
        </div>
        <div class="v-text">
            <p>You can deactivate your VPS instance at any time, which will immediately stop the hosting and operation of the “ALGODLA App” 
                on the instance.</p>
        </div>
        <div class="v-all-title">
            14. contact information
        </div>
        <div class="v-text">
            <p>If you have any questions about these Terms, please contact us 
                <span><%= link_to "here", contact_path, class: "vps-link" %></span>.</p>
        </div>
        <div class="v-all-title">
            15. entire agreement
        </div>
        <div class="v-text">
            <p>These Terms of Use, along with the Terms of Use of the "ALGODLA App" software published at 
                <%= link_to "https://algodla.com/terms-of-use/", terms_of_use_path, class: "vps-link" %> (hereinafter the "ALGODLA App ToU"), and 
                along with the Privacy & Cookies Policy published at <%= link_to "Privacy & Cookies Policy", privacy_and_cookies_path, class: "vps-link" %>, 
                represent the entire agreement between you and us with respect to your use of the "ALGODLA VPS" Service, superseding any prior 
                agreements between you and us (including, but not limited to, any prior versions of the Terms of Use).</p>
        </div>
        <div class="v-all-title">
            16. waiver and severability
        </div>
        <div class="v-text">
            <p>The failure of us to enforce any right or provision of these Terms of Use will not be considered a waiver of those rights. If any 
                provision of these Terms of Use is held to be invalid or unenforceable by a court, the remaining provisions of these Terms of Use will 
                remain in effect.</p>
        </div>
        <div class="v-all-title">
            17. acknowledgement
        </div>
        <div class="v-text">
            <p>By using the Service, you acknowledge that you have read these Terms of Use and the "ALGODLA App ToU" and the "Privacy & Cookies Policy", 
                and you agree to be bound by them.</p>
        </div>
        <div class="v-all-title">
            18. confirmation of understanding
        </div>
        <div class="v-text">
            <p>By using our Service, you confirm that you understand and agree to these Terms of Use and you confirm that you understand and 
                agree to the "ALGODLA App ToU". If you do not agree to these terms or any part thereof, please note that you are explicitly and 
                strictly forbidden from using our Service or any part thereof.</p>
        </div>
        <div class="v-all-title">
            19. agreement to terms
        </div>
        <div class="v-text">
            <p>Any violation of these Terms of Use or the "ALGODLA App ToU", may result in termination of our Service to you. 
                We reserve the right to modify these Terms of Use at any time, so please review it frequently. 
                Your continued use of the Service will signify your acceptance of the changes to these Terms of Use.
                <br><br>
                Thank you for choosing "ALGODLA VPS". Please respect these Terms of Use and enjoy our Service responsibly.</p>
        </div>
    </div>
</div>
