<% content_for :title, "Terms Of Use VPS | ALGODLA" %>

<div class="vps-container">
    <div class="vps-child">
        <div class="vps-subchild one">
            <div class="vps-innerchild one">
                <p><%= t '.vps_title'%></p>
            </div>
            <div class="vps-innerchild two">
                <p><%= t '.vps_desc'%></p>
            </div>
        </div>
        <div class="vps-subchild two">
        </div>
    </div>
</div>

<div class="vps-item">
    <div class="v-child">
        <div class="v-first-title">
            <%= t '.vps_tou'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_tou_desc'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_1'%>
        </div>
        <div class="v-text">
            <p><span><%= t '.vps_1_text1_1'%></span> <%= link_to "https://algodla.com", root_path, class: "vps-link" %><span><%= t '.vps_1_text1_2'%></span></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_2'%>
        </div>
        <div class="v-text">
            <p><span><%= t '.vps_2_text_2_1'%></span> <%= link_to "https://algodla.com/terms-of-use/", terms_of_use_path, class: "vps-link" %>. <span><%= t '.vps_2_text_2_2'%></span></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_3'%>
        </div>
        <div class="v-text">
            <p><span><%= t '.vps_3_text_3_1'%></span> <%= link_to "https://algodla.com", root_path, class: "vps-link" %> 
            <span><%= t '.vps_3_text_3_2'%></span></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_4'%>
        </div>
        <div class="v-text">
            <p><span><%= t '.vps_4_text_4_1'%></span> <%= link_to "https://algodla.com/terms-of-use/", terms_of_use_path, class: "vps-link" %> 
                <span><%= t '.vps_4_text_4_2'%></span></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_5'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_5_text_5_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_6'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_6_text_6_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_7'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_7_text_7_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_8'%>
        </div>
        <div class="v-text">
            <p><span><%= t '.vps_8_text_8_1'%></span> 
                <%= link_to "Privacy & Cookies Policy", privacy_and_cookies_path, class: "vps-link" %><span><%= t '.vps_8_text_8_2'%></span></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_9'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_9_text_9_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_10'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_10_text_10_1'%></p>
        </div>
        <div class="v-text">
            <p><%= t '.vps_10_text_10_2'%></p>
        </div>
        <div class="v-text">
            <p><%= t '.vps_10_text_10_3'%>
                <br><br>
                <%= t '.vps_10_text_10_4'%><br>
                <%= t '.vps_10_text_10_5'%><br>
                <%= t '.vps_10_text_10_6'%><br>
                <%= t '.vps_10_text_10_7'%><br>
                <%= t '.vps_10_text_10_8'%></p>
        </div>
        <div class="v-text">
            <p><%= t '.vps_10_text_10_9'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_11'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_11_text_11_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_12'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_12_text_12_1'%>
                <br><br>
                <%= t '.vps_12_text_12_2'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_13'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_13_text_13_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_14'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_14_text_14_1'%> 
                <span><%= link_to "here", contact_path, class: "vps-link" %></span>.</p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_15'%>
        </div>
        <div class="v-text">
            <p><span><%= t '.vps_15_text_15_1'%></span> 
                <%= link_to "https://algodla.com/terms-of-use/", terms_of_use_path, class: "vps-link" %> 
                <span><%= t '.vps_15_text_15_2'%></span> 
                <%= link_to "Privacy & Cookies Policy", privacy_and_cookies_path, class: "vps-link" %>
                <span><%= t '.vps_15_text_15_3'%></span></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_16'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_16_text_16_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_17'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_17_text_17_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_18'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_18_text_18_1'%></p>
        </div>
        <div class="v-all-title">
            <%= t '.vps_all_title_19'%>
        </div>
        <div class="v-text">
            <p><%= t '.vps_19_text_19_1'%>
                <br><br>
                <%= t '.vps_19_text_19_2'%></p>
        </div>
    </div>
</div>
